<br />
<br />


<br />

@if (TempData["message"] != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}

<br />

<h2>Canale pe care le moderezi:</h2>

<div class="row">

    @foreach (var server in ViewBag.Servers)
    {
        <div class="col-4 mb-4">

            <div class="card">

                <div class="card-body">
                    
                    <h5 class="card-title" name="Name">@server.Title</h5>

                        
                           
                              

                    <br />

                    <a class="btn alert-success" href="/Invites/Show/@server.Id">Afisare Invitatii</a>
                </div>
            </div>
        </div>
    }

</div>